@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <button onclick="return sendRequest();">Go</button>
</div>

<script>
    var model = {
           Id: 10,
           Name: 'John',
           Active: true
        };

    function sendRequest() {

        $.ajax({
            url: "https://localhost:44332/api/Dynamic",
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(model),
            success: function (model) {
                alert(model.Data.Name);
            },
            error: (xhr, tt, tm) => errorHandler(xhr, tt, tm)
        });

        function errorHandler(xhr, tt, tm) {
            console.dir(xhr, tt, tm);
        };

        return false;
    };
</script>